@font-face{
  font-family: firaNormal;
  src: url(fonts/Fira_Sans/FiraSans-Regular.ttf);
}
@font-face{
  font-family: firaBold;
  src: url(fonts/Fira_Sans/FiraSans-Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
  position: relative;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 2px #080808;
  font-size: 6px;
}
body img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
body h1 {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: firaBold;
}
body p {
  position: absolute;
  bottom: 0px;
  left: 16px;
  font-family: firaNormal;
}
