h1{
  text-shadow: 0px 0px 2px #000;
  color: white;
}
p{
  text-shadow: 0px 0px 2px #000;
  color: white;
}
a{
  color: white;
}
body {
  background-image: url('sbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 375%;
  background-position: right;
  text-align: center;
  font-family: Monospace;
  background-color: white;
}